<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Pretty Good Events App</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</head>

<body>
  <header class="container">
    <h1>Pretty Good Events App</h1>
  </header>

  <div class="container">
    {{{body}}}
  </div>

  <div class="container">
    <h2>Add an event</h2>
    <form action="/events" method="post">
      <div class="mb-3 row">
        <label for="title" class="form-label">Title</label>
        <input name="title" type="text" />
      </div>
      <div class="mb-3 row">
        <label for="description" class="form-label">Description</label>
        <textarea name="description"></textarea>
      </div>
      <div class="mb-3 row">
        <label for="location" class="form-label">Where</label>
        <input name="location" type="text" />
      </div>
      <div class="mb-3 row">
        <label for="event_time" class="form-label">When</label>
        <input name="event_time" type="text" />
      </div>
      <input class="btn btn-primary" type="submit" name="submit" value="submit" />
    </form>
    <hr>
  </div>

<footer class="container">
  <small class="text-muted">Build Time: {{ buildtime }}</small>
</footer>


</body>

</html>